<div class="back">
    <div class="col-md-0 d-flex justfy-content-center"></div>
    <div class=" signup col-md-8 d-flex justfy-content-center">
<h1 class="doller" style="color:#dad6d6 ;">OFFICIAL CONTACT</h1>
</div>
</div>
<div class="foot">
<h3>HEAD OFFICE - GURUGRAM</h3>
<h5>+91 8287313657</h5>
<h5>+91 8076001398</h5>
<h5>siddarath.rajput.7@gmail.com</h5>
<h5>Plot No 56, Sector -110A,<br> GURUGRAM - 122017, Haryana(India)</h5>
</div>
<div>
 <img src="../../assets/images/map.jpg">
</div>
<div class="box">
</div>
<div class="ground">
   <h2 style="color: rgb(32, 47, 53);">SUBMIT REQUEST TO GET LATEST OFFERS AND DEALS TODAY</h2>
</div>

